@page "/produtos/details"
@using Microsoft.EntityFrameworkCore
@using GestaoDeLoja.Entities
@inject IDbContextFactory<GestaoDeLoja.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Produto</h2>
    <hr />
    @if (produto is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@produto.Nome</dd>
            <dt class="col-sm-2">Detalhe</dt>
            <dd class="col-sm-10">@produto.Detalhe</dd>
            <dt class="col-sm-2">Preco</dt>
            <dd class="col-sm-10">@produto.Preco</dd>
            <dt class="col-sm-2">Imagem</dt>
            <dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(produto.UrlImagem))
                {
                    <img src="@produto.UrlImagem"
                         alt="@produto.Nome" style="max-width:100px;max-height:100px;" />
                }
                else
                {
                    <img src="img/placeholder.png" style="max-width:100px;max-height:100px;" />

                }
            </dd>
           @*  <dt class="col-sm-2">Imagem</dt>
            <dd class="col-sm-10">@produto.Imagem</dd> *@
            <dt class="col-sm-2">Promocao</dt>
            <dd class="col-sm-10">@produto.Promocao</dd>
            <dt class="col-sm-2">MaisVendido</dt>
            <dd class="col-sm-10">@produto.MaisVendido</dd>
            <dt class="col-sm-2">EmStock</dt>
            <dd class="col-sm-10">@produto.EmStock</dd>
            <dt class="col-sm-2">Disponivel</dt>
            <dd class="col-sm-10">@produto.Disponivel</dd>
            <dt class="col-sm-2">Origem</dt>
            <dd class="col-sm-10">@produto.Origem</dd>
            <dt class="col-sm-2">CategoriaId</dt>
            <dd class="col-sm-10">@produto.categoria.Nome</dd>
            <dt class="col-sm-2">ModoEntregaId</dt>
            <dd class="col-sm-10">@produto.modoEntrega.Nome</dd>
        </dl>
        <div>
            <AuthorizeView Roles="Admin">
            <a href="@($"/produtos/edit?id={produto.Id}")">Edit</a> 
            </AuthorizeView>
            <a href="@($"/produtos")">Back to List</a>
        </div>
    }
</div>

@code {
    private Produto? produto;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        produto = await context.Produtos.Include(produtos => produtos.categoria).Include(produtos => produtos.modoEntrega).FirstOrDefaultAsync(m => m.Id == Id);

        if (produto is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
