@page "/produtos/edit"
@using Microsoft.EntityFrameworkCore
@using GestaoDeLoja.Entities
@inject IDbContextFactory<GestaoDeLoja.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]
<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Produto</h2>
<hr />
@if (Produto is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Produto" OnValidSubmit="UpdateProduto" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Produto.Id" value="@Produto.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Produto.Nome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Produto.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="detalhe" class="form-label">Detalhe:</label>
                    <InputText id="detalhe" @bind-Value="Produto.Detalhe" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Produto.Detalhe" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="preco" class="form-label">Preco:</label>
                    <InputNumber id="preco" @bind-Value="Produto.Preco" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Produto.Preco" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="urlimagem" class="form-label">UrlImagem:</label>
                    <InputText id="urlimagem" @bind-Value="Produto.UrlImagem" class="form-control" />
                    <ValidationMessage For="() => Produto.UrlImagem" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputFile id="imagem" OnChange="OnImageFileChange" class="form-control" />
                    @if (previewUrl is not null)
                    {
                        <img src="@previewUrl" style="max-width:200px; margin-top:10px;" />
                    }
                    <ValidationMessage For="() => Produto.Imagem" class="text-danger" />
                </div>
                @* <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputText id="imagem" @bind-Value="Produto.Imagem" class="form-control" />
                    <ValidationMessage For="() => Produto.Imagem" class="text-danger" />
                </div> *@
                <div class="mb-3">
                    <label for="promocao" class="form-label">Promocao:</label>
                    <InputCheckbox id="promocao" @bind-Value="Produto.Promocao" class="form-check-input" />
                    <ValidationMessage For="() => Produto.Promocao" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="maisvendido" class="form-label">MaisVendido:</label>
                    <InputCheckbox id="maisvendido" @bind-Value="Produto.MaisVendido" class="form-check-input" />
                    <ValidationMessage For="() => Produto.MaisVendido" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="emstock" class="form-label">EmStock:</label>
                    <InputNumber id="emstock" @bind-Value="Produto.EmStock" class="form-control" />
                    <ValidationMessage For="() => Produto.EmStock" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="disponivel" class="form-label">Disponivel:</label>
                    <InputCheckbox id="disponivel" @bind-Value="Produto.Disponivel" class="form-check-input" />
                    <ValidationMessage For="() => Produto.Disponivel" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="origem" class="form-label">Origem:</label>
                    <InputText id="origem" @bind-Value="Produto.Origem" class="form-control" />
                    <ValidationMessage For="() => Produto.Origem" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categoriaid" class="form-label">Categoria:</label>
@*                     <InputNumber id="categoriaid" @bind-Value="Produto.CategoriaId" class="form-control" />
 *@                    <InputSelect id="listcategoriaid" @bind-Value="Produto.CategoriaId" class="form-control">


                        @foreach (var categoria in Categorias)
                        {
                            <option value="@categoria.Id">@categoria.Nome</option>
                        }
                        )
                    </InputSelect>
                    <ValidationMessage For="() => Produto.CategoriaId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="modoentregaid" class="form-label">ModoEntregaId:</label>
@*                     <InputNumber id="modoentregaid" @bind-Value="Produto.ModoEntregaId" class="form-control" />
 *@
                    <InputSelect id="listmodoentregaid" @bind-Value="Produto.ModoEntregaId" class="form-control">


                        @foreach (var modoentrega in ModoEntregas)
                        {
                            <option value="@modoentrega.Id">@modoentrega.Nome</option>
                        }
                        )
                    </InputSelect>
                    <ValidationMessage For="() => Produto.ModoEntregaId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/produtos">Back to List</a>
</div>

@code {
    private string? previewUrl;

    private async Task OnImageFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        // if (file != null)
        // {
        using var stream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(stream);
        Produto.Imagem = stream.ToArray();
        //Categoria.ImageFile = file;

        using var previewStream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(previewStream);
        var base64 = Convert.ToBase64String(previewStream.ToArray());
        previewUrl = $"data:{file.ContentType};base64,{base64}";
        //}
    }
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Produto? Produto { get; set; }

    List<Categoria> Categorias = new();

    List<ModoEntrega> ModoEntregas = new();

    //inicializar a lista de categorias e modos de entrega
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Produto ??= await context.Produtos.FirstOrDefaultAsync(m => m.Id == Id);
        Categorias = await context.Categorias.OrderBy(c => c.Ordem).ToListAsync();
        ModoEntregas = await context.ModosEntrega.ToListAsync();
        if (Produto is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateProduto()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Produto!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ProdutoExists(Produto!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/produtos");
    }

    private bool ProdutoExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Produtos.Any(e => e.Id == id);
    }
}
